<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>
			Label
		</key>
		<string>
			my.wallpaper.cronjob
		</string>
		<key>
			ProgramArguments
		</key>
		<array>
			<string>
				$HOME/Library/Application Support/my.wallpaper/wallpaper.sh
			</string>
		</array>
		<key>
			StartInterval
		</key>
		<integer>
			1800
		</integer>
	</dict>
</plist>
